// Chứa biến và mixin
// Khai báo biến trong SASS: $[tên_biên]: [Giá_trị]
/*-----------bg: css cho màu background-------*/

$bg-c1-primary: #b61984;
$bg-c1-light: #fff;
$bg-trasnparent: rgba(0, 0, 0, 0);
$bg-line: rgba(0, 0, 0, 0.1);
$bg-none: none;

/*-----------text: css cho text--------------*/
// text-color: màu của text
$text-c1-primary: #b61984;
$text-c1-dark: #000;
$text-c1-light: #fff;
// text-size
$text-xs: 10px;
$text-2xs: 13px;
$text-base: 16px;
$text-xl: 18px;
$text-2xl: 20px;
$text-3xl: 30px;
$text-5xl: 50px;
$text-6xl: 60px;
//  text-font-weight
$text-light: 300;
$text-regular: 400;
$text-semibold: 600;
$text-bold: 700;

/*--------------------MIXIN-------------*/
// như function trong js
@mixin text($fs, $fw, $c) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}
// default
@mixin textDefault($fs: $text-base, $fw: $text-regular, $c: $text-c1-dark) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
}

// Button
@mixin button($fs, $fw, $c, $bg, $pd, $bd, $bdr, $bg-hover, $c-hover) {
  font-size: $fs;
  font-weight: $fw;
  color: $c;
  background: $bg;
  padding: $pd;
  border: $bd;
  border-radius: $bdr;
  cursor: pointer;
  &:hover {
    background: $bg-hover;
    color: $c-hover;
  }
}

// input
@mixin input($with, $height, $paddingTB, $paddingLR, $bd, $bdr, $bg) {
  width: $with;
  height: $height;
  padding: $paddingTB $paddingLR;
  border: $bd;
  border-radius: $bdr;
  background-color: $bg;
}
